{% extends "template.html" %}

{% block title %}
  Details Page
{% endblock %}

{% block signout %}
  <a href="{{ url_for('logout')}}">Sign Out</a>
  <a href="{{ url_for('main_page')}}" class="offset-md-10">Back to Search page</a>

{% endblock %}

{% block heading %}
  Detail of <br>
  {{ detail.title }}
{% endblock %}

{% block body %}
  <div class="col-md-6 offset-md-3">
    <div class="row">
      <p>Title: {{ detail.title }}</p>
    </div>
    <div class="row">
      <p>ISBN: {{ detail.isbn }}</p>
    </div>
    <div class="row">
      <p>Author: {{ detail.name }}</p>
    </div>
    <div class="row">
      <p>Year: {{ detail.year }}</p>
    </div>
  </div>
  <br>
{% endblock %}